* {
    box-sizing: border-box;
}


body {
    background-color: #0100F8;

}

.button {

    background-color: black;
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
    padding: 1% 10%;
    text-align: center;
    outline: none;
    border: 1px solid black;
}

.button:hover {
    background-color: #00F802;
    color: white;
    font-size: 100px;
    font-weight: bold;

}

.font-effect-3d-float {
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 2px;
}

#start-button {

    position: relative;
    left: -25px;
    font-size: 100px;
    padding: 3% 25%;

}

#start-div {
    position: fixed;
    top: 30%;
    left: 35%;
}

#choose-div {
    position: fixed;
    top: 15%;
    left: 35%; 
}

#score-div {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    font-family: 'Gudea', sans-serif;
    font-size: 40px;
    padding: 1%;
}

#score {
    font-size: 44px;
    text-decoration: underline;
    margin-bottom: 10%;
}

.choice {
    width: 80%;
}

#Choice-0:active {
    background-color: purple;
}

#Choice-1:active {
    background-color: orange;

}

#Choice-2:active {
    background-color: pink;
}